<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	<!--	
                <property name="show_sql">true</property>
		<property name="format_sql">true</property>
                <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        -->
		
                <property name="dialect">SQLiteDialect</property>
		<property name="connection.driver_class">org.sqlite.JDBC</property>
		<property name="connection.url">jdbc:sqlite:BikeRent.sql</property>
		<property name="connection.username"></property>
		<property name="connection.password"></property>
		
		<property name="hibernate.hbm2ddl.auto">update</property>
		
                
		<mapping class="model.Address"/>
                <mapping class="model.Defect"/>
                <mapping class="model.Item"/>
                    <mapping class="model.Promotion"/>
                    <mapping class="model.Accessoires"/>
                        <mapping class="model.Chainlock"/>
                        <mapping class="model.Helmet"/>
                        <mapping class="model.Trailer"/>
                    <mapping class="model.Bike"/>
                        <mapping class="model.Child"/>
                        <mapping class="model.Female"/>
                        <mapping class="model.Male"/>
                <mapping class="model.Person"/>
                    <mapping class="model.Customer"/>
                    <mapping class="model.Employee"/>
                <mapping class="model.InStore"/>
                <mapping class="model.Online"/>
                <mapping class="model.OnlineAccess"/>
                <mapping class="model.RentingOrder"/>
                <mapping class="model.OrderItem"/>
                


	</session-factory>
</hibernate-configuration>
